<div class="line-y mt-16 flex flex-col gap-x-3 py-2 text-sm/7 text-nowrap text-gray-600 lg:gap-x-4 @lg:flex-row">
    <footer class="bg-white shadow dark:bg-gray-900">
        <div class="max-w-screen-xl mx-auto p-4 md:flex md:items-center md:justify-between">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© {{copyrightYear}} to {{companyName}} 
                <a routerLink="/" class="hover:underline">{{companyName}}</a>. All Rights Reserved.
            </span>
            <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
                <li>
                    <a routerLink="/about" routerLinkActive="active cursor-pointer text-gray-950 underline decoration-underline font-medium decoration-black" class="mr-4 font-medium  hover:underline md:mr-6 ">About</a>
                </li>
                <li>
                    <a routerLink="/" routerLinkActive="active cursor-pointer text-gray-950 underline decoration-underline  decoration-black" class="mr-4 font-medium  hover:underline md:mr-6 ">Privacy Policy</a>
                </li>
                <li>
                    <a routerLink="/contact" routerLinkActive="active cursor-pointer text-gray-950 underline decoration-underline decoration-black" class="mr-4 font-medium  hover:underline md:mr-6">Contact</a>
                </li>
            </ul>
        </div>
    </footer>